doctype html
html(lang="en")
  head
    title Pepo Stock Exchange
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    include header 
    include navigation
    include clock
    hr
    main
      p This is a simple home page. You can replace this content with your own.
