nav.navigation
    ul
        li
            a(href="/") Home
        li
            a(href="/stocks") Stocks
        li
            a(href="/leaderboard") Leaderboard
        li
            a(href='/trade') Trade
        li
            a(href="/about") About
        if user
            li
                a(href="/auth/logout") Logout