nav.navigation
    ul
        li
            a(href="/") Home
        li
            a(href="/dashboard") Dashboard
        li
            a(href='/trade') Trade
        li
            a(href="/about") About
        if user
          li
            a(href="/logout") Logout