extends layout 

block content
  .container
    h1 About the Pepo Stock Exchange
    p
    | The Pepo Stock Exchange is a subset of the New York Stock Exchange and focuses specifically on autumn-themed stocks as a way to celebrate the changing of the seasons, going so far as to use its own currency - GourdCoin. The Pepo Stock Exchange operates by normal New York Stock Exchange times: 
    b 9:30 AM to 4:00 PM EST, Monday through Friday and excluding federal holidays. The stock exchange opens on Sunday September 1st, 2024 and closes on Sunday, November 24th, 2024.
    br
    br
    | Each participant can sign up to purchase or sell stocks to build their portfolio over the autumnal months. Money earned from these exchanges can be saved, re-invested, or used to purchase Gourd Rewards. At the end of the exchange period, the person with the most combined monetary and invested assets will be crowned the 2024 Gourd Lord. Do you think you have what it takes to stay on top of the stocks and become this year's Gourd Lord?
    br
    br
    b DISCLAIMER
    | : This is a game with no real-world value and is based on my spotty-at-best and nonexistent-at-worst knowledge on the stock market. I understand that this game could be much more complex with more user interaction but I don't know enough about the stock market to actually successfully implement such features.
    br
    br
    center
      img(src="images/JSc2YO1.gif")
    br
    | Looking to discuss the stock market with other money-hungry moguls this fall? Look no further than Gourdchat v 4.0, the best place to scratch that autumnal itch. Join 
    a(href="https://discord.gg/aJYUpG9Qx") here 
    | to hop into a place where everyone is out of their gourd. Now on its fourth active year, Gourd Chat is an autumnal place for people to be aware of and to celebrate the passing of the seasons. Being Gourd Lord is a high honor that comes with bragging rights and a care package sent directly to your door with goodies to brighten your winter.
    br