extends layout

block content
  .container
    h1 Leaderboard
    table.leaderboard-table
      thead
        tr
          th Rank
          th Name
          th Title
          th Liquid Assets
          th Invested Assets
          th Net Worth
      tbody#leaderboard-body
        // The table body will be populated dynamically
  script.
    const backendPort = "#{BACKEND_PORT}";
  script(src="/javascripts/leaderboard.js")
