extends layout 

block content
  .container
    h1 Stocks
    table.stocks-table
      thead
        tr
          th Symbol
          th Price
          th Change
      tbody#stocks-body
        // The table body will be populated dynamically
  script(src="/javascripts/stocks.js")
