extends layout 

block content
  .container
    h1 Stocks
    table.stocks-table
      thead
        tr
          th#symbol-header Symbol
          th#price-header Price
          th#change-header Change
      tbody#stocks-body
        // The table body will be populated dynamically
  script(src="/javascripts/stocks.js")
