doctype html
html(lang="en")
  head
    title Pepo Stock Exchange
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    include _header 
    include _navigation
    hr
    main
      p This is the trading interface.