/* public/stylesheets/style.css */

body {
  background-color: #ffb787;
}

nav ul {
  list-style-type: none;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

nav ul li {
  display: inline-block; /* Display list items inline */
  margin-right: 1rem;
  padding-left: 20px;
  padding-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: gray; /* Change the color to red on hover */
}

/* Style for the container holding the header and clock */
.header-container {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
  align-items: center; /* Align items vertically center */
  padding: 10px 50px 10px 50px; /* Optional: Add padding */
}

/* Additional styles for the header and clock components */
.header-container #header {
  flex: 1;
}

.header-container #clock {
  flex: 1;
  text-align: right; /* Align the clock to the right */
}

.navigation {
  text-align: center;
  font-size: 24px; /* Adjust the font size as needed */
}

hr {
  border: none; /* Remove default border */
  border-top: 3px solid black; /* Set border to solid black */
}

main {
  max-width: 700px;
  margin: auto;
}

.green {
  color: green;
}

.red {
  color: red;
}


.stocks-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.stocks-table {
  width: 100%;
  border-collapse: collapse;
}

.stocks-table th, .stocks-table td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: center;
  position: relative;
}

.stocks-table th {
  background-color: #db9c72;
}

.stocks-table tr:hover {
  background-color: #fccfb0;  /* Change this to your desired hover color */
}

.stocks-table .positive-change {
  color: green;
}

.stocks-table .negative-change {
  color: red;
}


.stock-popup {
  position: relative;
}


.stock-popup .popuptext {
  visibility: hidden;
  width: 200px;
  background-color: #fccfb0;
  color: #000;
  text-align: left;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.stock-popup:hover .popuptext {
  visibility: visible;
} 

.portfolio-container {
  max-width: 800px;
  margin: 0 auto;
  
}

.portfolio-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.portfolio-table thead tr {
  background-color: #db9c72;
  color: black;
  text-align: left;
  font-weight: bold;
}

.portfolio-table th,
.portfolio-table td {
  padding: 12px 15px;
}

.portfolio-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.portfolio-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.portfolio-table tbody tr:last-of-type {
  border-bottom: 2px solid #db9c72;
}

.portfolio-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
